body {
    margin: 0;
    background-color: white;
    /* width: 1440px; */
    margin: 0 auto;
    font-family: 'Poppins';
}

.header__block {
    width: 1440px;
    height: 90px;
    margin: 0 auto;
}

.header__block_content {
    width: 1200px;
    height: 90px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.header__logo {
    margin: 25px 32px 25px;
}

.header__menu {
    margin: auto;
    margin-left: 417px;
    word-spacing: 32px;
}

a {
    text-decoration:none;
}

.btn {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.first, .four, .five {
    display: flex;
}


.first__container, .four__container {
    margin-top: 150px;
    margin-left: 470px;
    width: 420px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.first__heading h2 {
    font-size: 54px;
}

.first__descript p, .four__descript p, .five_descript p {
    font-size: 16px;
}

 .first__heading, .first__descript {
    margin-top: -40px;
} 

.first__img, .four__img {
    margin-left: 195px;
    margin-top: 100px;
}

.first__img_fon {
    width: 385px;
    height: 570px;
    background-image: url(img/fitst/Phone.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.two {
    background-color: #222222;
}

.two__descript {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two__descript_center {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    color: white;
}

.two__descript_small {
    font-size: 14px;
}

.two__descript_big {
    font-size: 32px;
    text-align: center;
}

.two__card-block {
    width: 1170px;
    margin: 0 auto;
    padding: 50px;
}

.two__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: black;
    gap: 10px;
    padding: 5px;
}

.two__card {
    position: relative;
    background-color: white;
    border-radius: 20px;
}

.two__img {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.two__descripts div{
    text-align: center;
    background-color: #F2F2F2;
}

.two__card_heading {
    padding-top: 40px;
    color: #0278ED;
    font-size: 23px;
}

.two__card_descript {
    padding: 20px;
    border-radius: 0 0 20px 20px;
}

.two__icon {
    position: absolute;
    width: 64px;
    height: 64px;
    background-color: #0278ED;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 259px;
    left: 158px;
}

.three {
    background-color: #FF5437;
}

.three__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px;
    /* gap: 30px; */
}

.three__statics {
    text-align: center;
    color: white;
}

.four__mini-descript, .five__mini-descript {
    font-size: 14px;
    color: #222222;
}

.four__heading h2, .five__heading h2 {
    font-size: 32px;
}

.four__img_fon {
    width: 385px;
    height: 570px;
    background-image: url(img/fitst/four__img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.five__container {
    margin-top: 150px;
    margin-left: 260px;
    width: 420px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.five__img {
    margin-top: 100px;
    margin-left: 465px;
}

.five__img_fon {
    width: 385px;
    height: 570px;
    background-image: url(img/fitst/five__img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.six {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.six__container {
    padding: 13px;
    margin-top: 80px;
    max-width: 578px;
}

.six__container_block1 {
    text-align: center;
    font-size: 13px;
}

.six__container_block2 {
    text-align: center;
    font-size: 32px;
}

.six__container_block3 {
    text-align: center;
    font-size: 18px;
}

.six__img {
    margin-top: 21px;
    width: 600px;
    height: 488px;
    background-image: url(img/six/six__img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.six__theme {
    display: flex;
    gap: 90px;
    padding: 36px;
}

.six__theme div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.six__theme_light {
    background-image: url(img/six/sun.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.six__theme_dark {
    background-image: url(img/six/monthsvg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.seven__container {
    width: 1200px;
    margin: 100px auto 0px;
}

.seven__content, .eight__content {
    width: 600px;
    text-align: center;
    margin: 0 auto;
}

.seven__content_block1, .eight__content_block1 {
    font-size: 14px;
    color: #222222;
}

.seven__content_block2, .eight__content_block2 {
    font-size: 32px;
    color: #222222;
}

.seven__content_block3, .eight__content_block3 {
    font-size: 18px;
    color: #666666;
}

.seven__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.seven__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.seven__card_name {
    margin-top: 49px;
    margin-bottom: -25px;
    font-size: 18px;
}

.seven__card_price {
    font-size: 108px;
    margin-bottom: 10px;
}

.seven__card_time {
    font-size: 14px;
    color: #222222;
}

.seven__btn {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.eight {
    background-color: #E5E5E5;
}

.eight__container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 50px;
} 

.eight__cards {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding: 0 50px 100px;
    gap: 10px;
}

.eight__card {
    background-color:white ;
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eight__card_bio {
    display: flex;
    align-items: center;
}

.eight__card_descript {
    font-size: 16px;
    color: #222222;
}

.eight__card_img1, .eight__card_img2, .eight__card_img3 {
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
}

.eight__card_info div {
    font-size: 14px;
    color: #222222;
}

.eight__card_img1 {
    background-image: url(img/eight/eight__img1.png);
}

.eight__card_img2 {
    background-image: url(img/eight/eight__img2.png);
}

.eight__card_img3 {
    background-image: url(img/eight/eight__img3.png);
}